{{ form_start(form, {'attr': {'class':'form-inline','novalidate': 'novalidate'}}) }}
<div class="form-group has-search">
<span class="fa fa-search form-control-feedback"></span>
{{ form_widget(form.text, {'attr': {'class':'form-control', 'placeholder':'Search'}}) }}
</div>
{{ form_end(form) }}
